<script>
  localStorage.clear();
  localStorage.setItem("userid", "ojnIIwRZFpEtFmmwCHNJrw1Eg-o15");
  localStorage.setItem("type", "facebook");
</script>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Facebook Share-->
    <meta property="og:url"                content="http://clients.atwemine.cn/ust_valentine/auth.php" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Vote now for your HKUST favorite love story!" />
    <meta property="og:description"        content="This Valentine’s Day, vote for your favorite HKUST love story!" />
    <meta property="og:image"              content="http://clients.atwemine.cn/ust_valentine/img/cover_FB.jpg" />
    <!--Facebook Share-->
    <title>Found Love @ UST Competition</title>
    <link rel="stylesheet" href="<% process.env.assetsPublicPath %>static/css/font-awesome.min.css">
    <link rel="stylesheet" href="<% process.env.assetsPublicPath %>static/css/bootstrapold.min.css">
    <link rel="stylesheet" href="<% process.env.assetsPublicPath %>static/css/main.css">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type=text/javascript src=http://res.wx.qq.com/open/js/jweixin-1.2.0.js></script>
    <script src="<% process.env.assetsPublicPath %>static/js/jquery-3.2.1.min.js"></script>
    <script src="<% process.env.assetsPublicPath %>static/js/wx.js"></script>
    <script src="<% process.env.assetsPublicPath %>static/js/main.js"></script>

  </body>
</html>
